@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
    margin: 2em auto;
    width: 593px;
    font-family: 'Inter', sans-serif;
}

.bold {
    font-weight: bold;
  }

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;

}

li{
    list-style-type: none;

}
  
li.Home a {
    text-decoration: none; /* Remove underline */
    color: rgb(0, 0, 0); /* Set link color */
    font-weight: 400; /* Make font bold */
  }

li.About a {
    text-decoration: none; /* Remove underline */
    color: #0075FF;
    font-weight: 400; /* Make font bold */
    font-size: .75rem;

  }

h1{
    font-weight: 400;
    font-size: 49px;
    text-align: center;
    font-weight: 400;
    text-shadow: 0 4px 4px  hsla(0, 0%, 0%, 0.25);
}

p{
    text-align: center;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #7D7987;

}

.pp{
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

.img {
    width: 348px;
    height: 223px;
    margin: 20px auto;
    display: block;

}

span{
    color: #0075FF;
}

.icon{
    display: flex;
    gap: 20px;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding: 10px;


}

.icon a{
    font-size: 14px;
    padding: 10px;
    color: #0075FF;
    text-decoration: none; /* Remove o sublinhado do link */
}







/*lorem*/


table{
    width: 90%;
    margin: auto;
    background-color: beige;
    border-collapse: collapse;
}
td{
    border: 1px solid black ;
    text-align: center;
    padding: 10px;
}
th{
    background-color: rgb(159, 159, 109);
    border: 2px solid rgb(50, 50, 42);
    padding: 1rem;
}

details summary{
    text-align: center;
    padding: 10px;

}